#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  overflow-x: hidden;
}

.portfolio-color {
    color: #682ae9;
}

/* .html-title{
  padding: 10rem;
} */
/* .singleSkill{
  font-size: 2rem;
  position: absolute;
 
}

/* .skills{
  line-height: 0;
} */

.rolesBox {
  line-height: 0;
  position: absolute;
  /* text-align: center; */
}

.skills {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  overflow-x: hidden;
  position: relative;
  width: 300vw;

}

.singleSkill {
  height: 50vh;
  width: 95vw;
  border: 1px solid #682ae9;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
  
}